@import './libs/bootstrap-reboot.min';
@import './libs/fonts';
@import './libs/tiny-slider';
@import './libs/animate';

@import './base/mixins';
@import './base/variables';
@import './base/animation';
@import './blocks/header';
@import './blocks/promo';
@import './blocks/buttons';
@import './blocks/pros';
@import './blocks/consultation';
@import './blocks/section-title';
@import './blocks/form-feed';
@import './blocks/carousel';
@import './blocks/catalog';
@import './blocks/feedback';
@import './blocks/footer';
@import './blocks/modal';
@import './blocks/media';
@import './blocks/pageup';

* {
  box-sizing: border-box;
  font-family: 'MuseoSansCyrl', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.container {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}
