.catalog {
  margin: 80px 0;
  .container {
    overflow-x: hidden;
  }
  .section-title {
    font-weight: 400;
    font-size: 30px;
  }
  &__tabs {
    margin-top: 46px;
    display: flex;
    justify-content: center;
  }
  &__tab {
    margin: 0 5px;
    width: 223px;
    height: 52px;
    border: 2px solid #d0d0d0;
    line-height: 48px;
    color: #6b6b6b;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    transform: skewX(-25deg);
    transition: all 0.5s;
    cursor: pointer;
    div {
      transform: skewX(25deg);
    }
    &-active {
      color: #fff;
      background-color: $main-color;
      border: none;
    }
    &:hover {
      box-shadow: 3px 3px 20px $main-color;
      border: none;
    }
  }
  &__container {
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    &-active {
      display: flex;
    }
  }
  &-item {
    width: 303px;
    min-height: 442px;
    border: 2px solid #e8e8e8;
    padding: 20px;
    overflow: hidden;

    &__img {
      display: block;
      height: 200px;
      max-width: 100%;
      margin: 0 auto;
    }
    &__title {
      margin-top: 15px;
      font-weight: 700;
      font-size: 16px;
    }
    &__descr {
      margin-top: 15px;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
    }
    &__link {
      margin-top: 10px;
      color: $main-color;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: underline;
    }
    hr {
      border-top: 0;
      border-color: #e8e8e8;
      margin: 17px 0;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      font-size: 14px;
      font-weight: 300;
      text-decoration: line-through;
      color: #555;
    }
    &__price {
      color: #050505;
      font-weight: 700;
      font-size: 20px;
    }
    &__wrapper {
      display: flex;
      width: calc(200% + 40px);
    }
    &__body {
      text-align: center;
      color: #0d0d0d;
      margin-right: 20px;
      width: 100%;
      transition: all 0.5s;
      transform: translateX(calc(-100% - 20px));
      margin-right: 0;
      &-active {
        transform: translateX(0);
      }
    }
    &__list {
      margin-left: 20px;
      width: 100%;
      margin-bottom: 0;
      padding-left: 32px;
      list-style-type: none;
      position: relative;
      transition: all 0.5s;
      transform: translateX(200%);
      &-active {
        transform: translateX(calc(-100% - 20px));
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
      }

      li {
        position: relative;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #555;
        margin-bottom: 10px;

        &:before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background-color: $main-color;
          position: absolute;
          top: 7px;
          left: -17px;
        }
      }
    }
    &__back {
      color: $main-color;
      text-decoration: underline;
      font-weight: 500;
      font-size: 14px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
